<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "home.title" %></h1>

    <h2><%= t "home.content" %></h2>

  </div>

<% end %>
